<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>

<body>
    <h1>
        Experiencia laboral
    </h1>

    <h3>
        Hola
    </h3>

    <label>
        soy un subtitulo
    </label>

    <p>
        <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> <i>Nihil omnis beatae deleniti. Molestias porro
            possimus
            repellat dolorum eveniet alias minima,</i> <strong>corrupti a necessitatibus fugiat quisquam quod neque
            mollitia atque
            repellendus?</strong>
    </p>
    <p>
        <mark>Lorem ipsum dolor sit amet consectetur,</mark> <s>adipisicing elit. <em>Nemo omnis eos saepe reiciendis
                itaque,</s> inventore,
        earum incidunt,</em> <del>voluptas libero quod vero officiis nesciunt beatae aspernatur assumenda ullam labore
            harum
            ducimus!</del>
    </p>

                    <pre>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente repellat delectus, odit recusandae ad maxime culpa porro sequi. Non minima odio illum maxime laborum fugiat aliquam amet facilis inventore.
                    </pre>

    <code>
        
    </code>

    <a href="../locura.png" download="">
        abreme
    </a>

    <div id="" enlaces>

        <a href="../index.html">Ir a home</a>
        <a href="#footer">Ir a footer</a>
        <a href="../about.html">Ir a about</a>
        <a href="../contact.html">Ir a contacto</a>
        <a href="views/Work.html">Ir a cv</a>

    </div>

</body>

</html>